* {
  box-sizing: border-box;
}
body {
	background-color: #000;
	color: #fff;
}
.container {
  margin: auto;
  padding-left: 15px;
  padding-right: 15px;
  max-width: 1140px;
}
a{
  color: white;
  text-decoration: none;
}
a:hover {
  color: #8A2BE2;
}
